<!DOCTYPE >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User | List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>
<body>
	<div class="container">
		
		<div class="row">
			<h1>All Employee List</h1>
			
		</div>
		<a class="btn btn-primary mx-3" th:href="@{/employee/create}">Add New Employee</a>
		<a class="btn btn-secondary" th:href="@{/company/list}">list Company</a>
		<span th:if="${msg}">
 			<p th:text="${msg}" class="alert alert-success"></p>
 		</span>
			<table class="table table-striped table-borderd mt-3">
				<thead class="table-dark">
					<tr>
						<th>Id</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Company Name</th>
						<th>Company Year</th>
						<th>Action</th>
					</tr>
				</thead>
				
			
			<tr th:each="list :${list}">
				<td th:text="${list.id}"></td>
				<td th:text="${list.firstName}"></td>
				<td th:text="${list.lastName}"></td>
				<th th:text=${list.email}></th>
				 	<th th:text="${list.company.companyName}"></th>
					<th th:text=${list.company.year}></th>
				<td>
					<a class="btn btn-warning" th:href="@{/employee/updateEmp/{id}(id=${list.id})}">Edit</a>
					<a class="btn btn-danger" th:href="@{/employee/deleteEmp/{id}(id=${list.id})}">Delete</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>